body {
  background-image: url(img/source.gif);
  background-size: cover;
  display: grid;
}

.all {
  display: grid;
  grid-gap: 5px;
  .form {
    display: grid;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 25px;
    justify-self: center;
  }
  h1 {
    justify-self: center;
  }
  h3 {
    justify-self: center;
  }
  h5 {
    margin: 2px;
    justify-self: center;
  }
  .male {
    justify-self: center;
  }
  .female {
    justify-self: center;
  }
  .other {
    justify-self: center;
  }
  input {
    justify-self: center;
    margin-bottom: 10px;
  }
  button {
    justify-self: center;
    &:hover {
      cursor: pointer;
    }
  }
  .info {
    justify-self: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    display: grid;
  }
  .hide {
    display: grid;
    justify-self: end;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
